body {
  background-color: #f1f1f1;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body .container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body .container .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header .header__logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

body .container .header .header__menu-icon {
  width: 25px;
  cursor: pointer;
}

body .container .header .header__navbar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

body .container .header .header__navbar .navbar__item {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

body .container .header .header__navbar .navbar__item .navbar__link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

body .container .header .header__navbar .navbar__item .navbar__link:hover {
  color: #f437;
}

body .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}

body .container .row .product {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

body .container .row .product::after {
  content: '';
  width: 10px;
  height: 70%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f120), to(#52fd0f));
  background: linear-gradient(#f1f120, #52fd0f);
  position: absolute;
  left: -47px;
  top: 8px;
  border-radius: 10px;
}

body .container .row .product .product__title {
  font-size: 54px;
  margin: 0;
}

body .container .row .product .product__name {
  font-size: 30px;
  color: #131413;
  font-weight: 100;
  margin-button: 20px;
}

body .container .row .product .product__text {
  font-size: 16px;
  color: #201f1f;
  font-weight: 100;
}

body .container .row .product .product__btn {
  width: 200px;
  margin-top: 20px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #f1f1f5;
  background: -webkit-gradient(linear, left top, right top, from(#f1f120), to(#52fd0f));
  background: linear-gradient(to right, #f1f120, #52fd0f);
  cursor: pointer;
  border-radius: 17px;
}

body .container .row .product .product__btn .product__btn-img {
  display: none;
  width: 20px;
  height: 20px;
}

body .container .row .col-2 {
  position: relative;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .row .col-2 .product__photo {
  border: 1px solid black;
  width: 60%;
  border-radius: 500px;
}

body .container .row .col-2 .product__bg-box {
  position: absolute;
  right: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#f1f120), to(#52fd0f));
  background: linear-gradient(to right, #f1f120, #52fd0f);
  border-radius: 10px 0;
  height: 100%;
  width: 70%;
  z-index: -1;
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .row .col-2 .product__bg-box .product__add-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 10px;
}
/*# sourceMappingURL=index.css.map */